<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'crowdsourcer/not_pass.css' %}" />
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://d3js.org/d3-drag.v1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script type="text/javascript" src="{% static 'crowdsourcer/quiz.js' %}" /></script>


</head>
<body id="main">
  <div id="box">
  <div>Thank you for participating in the quiz, however...</div>
  <div>Because your expertise in the domain does not fit the task we are offering, we could not allow you to participate in further task.</div>
  <div>Sorry for not allowing you the task.</div>
  <div>Again, thank you!</div>
</div>
    </body>
</html>
