<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'crowdsourcer/step3.css' %}" />
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://d3js.org/d3-drag.v1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script type="text/javascript" src="{% static 'crowdsourcer/step3.js' %}" /></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body id="main">
  <div id="overlay"></div>
  <div id="pre_tutorial">
    <p>What you are going to do is reading a text and finding causality in the text. However, you are not going to interpret causality by yourself. In the previous test, you did not show perfect knowledge about the domain of the text, but we believe that you would be able to come up with causal questions, with some help.</p>
    <p>To come up with causal questions, we provide you with Q&A sets about the relation of entities appear in the text. You can refer to them to widen your perspective. Think about relations between entities, and which linkage between entities is loss in the text, or people's questions. Try to come up with causal questions that can reveal hidden relations and promote diversity of interpretation. Try to be specific, with clear directions.</p>
    <p>In detail, you are going to read a text and Q&A sets that can be browsed with entities in the text. By putting your mouse on them, you can see questions, and by clicking them you can maintain their appearance. If you put your mouse on each question, related entities will be highlighted, helping your understanding about the entities involved.</p>
    <p>Then you can put your question in the text input, and hit Add button to add questions. If you produced more than 2 questions, now you can proceed with Next button.</p>
    <p>In the following stage, you will be shown other's questions. If you think your question is similar to already existing question, then you can drag your question to the similar question. If you think one of other's questions is good, you can also click other's question to cast vote to it.</p>
    <p>If you do one of two behaviors, then now you are shown all the similar questions in the database, and will be asked to pick the best one among them. You can click one of their radio button to cast vote. If you are done with voting or dragging, you can proceed with Next button</p>
    <p id="proceed">Click to proceed</p>
  </div>
  <div id="vote_prompt">
    <p id="v_prompt_head">Among these similar questions, which one the best?</p>
    <div id="v_prompt_box"></div>
    <input type=button id="v_prompt_cancel" class="but" value="Cancel">

  </div>
  <div id="title">You do not understand the text?</div>
  <div id="explanation" class="explanation">If you do not understand causalities in the text, you can ask experts about them.</div>
  <div id="explanation_2" class="explanation">Please make at least two 'why' questions about causalities in the text.</div>

  <div id="pane">
    <div id="left_text" class="div_pane">
      <div id= "target_title" class="title"></div>
      <div id="target_summary"></div>
    </div>
    <div id="right_questions" class="div_pane">
      <div id="upper_right">
        <div id="q_title" class="title">Q and A about entities</div>
        <div id="question_box"></div>
      </div>
      <div id="down_right">
        <div id="q_title2" class="title">Causal Questions</div>
        <div id="question_box_other_box">
          <div id="question_box_other_title">Other's questions</div>
        <div id="question_box_other"></div>
      </div>
        <div id="question_box_self">

            <div class='gen_q_title'>Your questions</div>
            <div class='gen_q_sets'></div>
            <input class='question_type' type='text'>
            <input type='button' id='add' value='Add' class='sbut'>
        </div>
      </div>
    </div>
  </div>
  <div class="but" id="tutorial">?</div>
  <div id="tutorial_pane">Now you should come up with questions about causalities of events in the article. If you do not understand certain words or relational position of words, then you might be able to get some helps by seeing Q&A about words. You can see them by putting your mouse on the keyword. Example questions that are appropriate might be 'Why EVENT A happened?' or 'Why FIGURE A did BEHAVIOR B?'. You can enter them with text input and add button. If you added more than 2 questions, you can proceed with Next button.</div>

  <input type="button" id="submit" name="submit" class="but" value="Next" id="submit">


    </body>
</html>
