<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'crowdsourcer/step2.css' %}" />
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://d3js.org/d3-drag.v1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script type="text/javascript" src="{% static 'crowdsourcer/step2.js' %}" /></script>


</head>
<body id="main">
  <div id="overlay"></div>
  <div id="vote_prompt">
    <p id="v_prompt_head">Among these, which one do you think best represents your idea on the question?</p>
    <div id="v_prompt_box"></div>
    <input type=button id="v_prompt_cancel" class="but" value="Cancel">

  </div>
  <div id="pre_tutorial">
    <p>In the task, you are going to read a text and questions, which are produced by others. They are produced by novices, and what you need to do is answering them.</p>
    <p>Most are questions about relations between entities. However, because those who will read this article might lack knowledge in understanding them, brief explanations on entities might also help.</p>
    <p>So, what you are going to do specifically is reading the text and giving answer to the question you are seeing. If there already exist(s) some questions produced by other experts, you will be also shown them and you might be able to revise yours after seeing them.</p>
    <p>Please make explanation succinct and clear. We wish you a good luck!</p>
    <p id="proceed">Click to proceed</p>
  </div>
  <div id="title">Someone struggled in clarifying relations between entities in the text.</div>
  <div id="explanation">You might be able to help them, by answering their questions.</div>
  <div id="explanation">Keep in mind that your response will help novice in interpreting the text, like extracting causality by themselves.</div>

  <div id="pane">
    <div id="left_text" class="div_pane">
      <div id= "target_title" class="title"></div>
      <div id="target_summary"></div>
    </div>
    <div id="right_questions" class="div_pane">
      <div>
        <div id="q_title" class="title">Questions to answer</div>
        <div id="subject"></div>
        <div id="question_box"></div>
        <div id="others">
          Other's answer(s)
        <div id="other_1" class="answers"></div>
        <div id="other_2" class="answers"></div>
      </div>
        <div id="self">
          <div id="answer_prompt">Write like you are teaching novice.</div>
          <textarea id="write_pane"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="but" id="tutorial">?</div>
  <div id="tutorial_pane">Answer the question in the right side of the pane. You should consider that they are questions from those who do not know much about the domain. Please make your answer understandable, and easy to read. When question is majorly about relations between entities, it might be plus to explain engaged entities briefly. After you are done please press Next button.</div>

  <input type="button" id="submit" name="submit" class="but" value="Next" id="submit">


    </body>
</html>
